.footer {
  background-color: #3e4153;
  padding: 30px 0px;
  padding-bottom: 0px;
  margin: 0px;
  font-family: "Play", sans-serif;
  font-size: x-large;
  text-align: center;
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.footer .row {
  color: #fff;
  font-size: 0.8em;
  text-align: center;
}

.footer .row a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  
}

.footer .row a:hover {
  color: #fff;
  text-shadow: 0 0 5px #ebeaf1, 0 0 10px #ebeaf1, 0 0 20px #ebeaf1,
    0 0 40px #ebeaf1, 0 0 80px #ebeaf1, 0 0 90px #ebeaf1, 0 0 100px #ebeaf1,
    0 0 150px #ebeaf1;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
  margin-bottom: 30px;
  margin-top: 20px;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}

@media (max-width: 1200px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 40px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }

  .footer .row a:hover {
    color: #fff;
    text-shadow: none;
  }
}
