.mainContainer {
  display: flex;
  color: white;
  background: #373373;
  justify-content: center;
}

.coverpictures {
  position: relative;
}

.img1 {
  width: 350px;
  height: 200px;
  margin-right: 25px;
  margin-left: 40px;
  margin-top: 1rem;
  border-radius: 10px;
}

.imgText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f4f4;
  color: #373373;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  opacity: 0.9;
  font-weight: bold;
}

.imgText .a:hover,
a:hover span {
  background-color: #373373;
  color: #fff;
}

.img2 {
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.heading1 {
  padding: 40px;
  box-shadow: 0 2px 12px 0 rgb(11 12 31 / 50%);
  border-radius: 10px;
  width: 370px;
  height: auto;
}

.cardStyling {
  margin: 20px;
  justify-content: center;
}

.cardStyling > a {
  margin-top: 20px;
  text-decoration: none;
  font-size: 15px;
}

.cardStyling > h2 {
  color: #3e4153;
  font-size: 20px;
}

.banner {
  margin: 20px;
}

.card-banner {
  padding: 30px;
  background-color: #373373;
  color: #fff;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}

.card-banner > button {
  padding: 20px;
  font-size: 20px;
}

@media (max-width: 900px) {
  .mainContainer {
    max-height: auto;
    max-width: auto;
  
  }

  .heading1 {
    padding: 8px;
    border-radius: 2px;
    font-size: 8px;
  }
}

@media (max-width: 1200px) {
  .mainContainer {
    max-height: auto;
    max-width: auto;
  }

  .heading1 {
    padding: 10px;
    border-radius: 2px;
    height: auto;
    font-size: 10px;
    
  }

  .img1 {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .img2 {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }

  .imgText{
    font-size: 10px;
    position: absolute;
    top: 45%;
    left: 52%;
  }
}
