.navigationMenu {
  text-align: center;
}

.navdropbtn {
  border: #fff;
  font-size: xx-large;
  /* Fallback: Set a background color. */
  background-color: #373373;
  margin-right: 50px;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #cfbcfc 16.666%,
    #cfbcfc 16.666%,
    rgba(224, 152, 251, 0.701) 33.333%,
    #76438ef1 33.333%,
    #438ef1 50%,
    #626798 50%,
    #736298 66.666%,
    #476098 66.666%,
    #f8f8f8f1 83.333%,
    #f8f8f8c2 83.333%
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.navdropbtn:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in-out forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

.navdropdown {
  position: relative;
  display: inline-block;
}

.navdropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navdropdown-content a {
  color: black;
  padding: 15px 16px;
  text-decoration: none;
  display: block;
}

.navdropdown-content a:hover {
  background-color: #ddd;
  color: #fff;
  text-shadow: 0 0 5px #373373, 0 0 10px #373373, 0 0 20px #373373,
    0 0 40px #373373, 0 0 80px #373373, 0 0 90px #373373, 0 0 100px #373373,
    0 0 150px #373373;
}

.navdropdown:hover .navdropdown-content {
  display: block;
}

.navdropdown:hover .navdropbtn {
  border-bottom: 2px solid #3e8e41;
}

@media (max-width: 900px) {
  .navdropbtn {
    font-size: medium;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    animation-play-state: paused;
    animation: none;
    color: #373373;
    background-image: none;
  }
  .navdropdown-content a:hover {
    animation-play-state: paused;
    color: #373373;
    display: none;
  }

  .navdropbtn:hover {
    animation-play-state: paused;
    color: #373373;
    display: none;
    animation: none;
  }
}

@media (max-width: 1200px) {
  .navigationMenu {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .navdropbtn {
    margin-right: 0px;
    font-size: 35px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    animation-play-state: paused;
    animation: none;
    color: #373373;
    background-image: none;
    padding-bottom: 10px;
    padding-top: 14px;
    border: 1px solid lightgray;
    width: 100%;
  }
  .navdropdown-content a:hover {
    animation-play-state: paused;
    color: #373373;
    display: none;
  }

  .navdropbtn:hover {
    animation-play-state: paused;
    color: #373373;
    display: none;
    animation: none;
  }
}
